/* the geometry of the page */
@page-width: 210mm;
@page-height: 297mm;

/* the size of the crop marks*/
@crop-size: 0mm;
/*@crop-size: 19.84251969pt;*/

/* the size of bleed */
@bleed: 5mm;
/*@bleed: 14.17322835pt;*/

// FIXME: make a case for single page layouts
@page-margin-inside: 20mm;
@page-margin-outside: 20mm;
@page-margin-top: 10mm;
@page-margin-bottom: 15mm;

// Header & footer variables
@header-height: 10mm;
@header-text: "";
@footer-height: 10mm;
@footer-text: counter(page-counter);
