/* Here you can put your specific typography, layout styles. */

body {
   font-family: 'OSP-DIN', sans-serif;
}


h1 {
	font-size: 80px;
	font-weight: normal;
	text-align: right;
}

h2 {
	font-size: 42px;
	font-weight: normal;
	width: 60%;
	margin-left: 40%;
	margin-bottom: 0px;
}

h2.list{
	font-size: 18px;
}

code{
	width: 60%;
	margin-left: 40%;
	font-size: 16px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	width: 60%;
	margin-left: 40%;
	margin-top: Opx;
}
